{
  "cssEnable": [
    "css",
    "less",
    "scss",
    "postcss"
  ],
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": false
}